@font-face
{
    font-family: "roboto";
    src: url(fonts/Roboto/Roboto-Black.ttf);
}
@font-face
{
    font-family: "opensans";
    src: url(fonts/Open_Sans/OpenSans-Bold.ttf);
}
.address-img
{
    width: 80%;
}
html{
    font-family: "roboto";
}
body
{
    background-color:rgb(255, 205, 0);

}


.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color:rgb(255, 255, 255);
    padding: 10px;    
    grid-gap: 5%;

    
  }
  .grid-item {
    background-color:rgb(165, 42, 42);
    border: 1px solid rgb(0, 0, 0);
    padding: 20px;
    font-size: 1.5em;
    color:rgb(255, 205, 0);
    text-align: center;
    text-decoration: none;
    box-shadow: 1px 1px 4px rgb(0, 0, 0);
    border-radius: 5px;
    font-family: "opensans";
    display: table;


}
  .grid-item:hover {
    background-color:rgb(255, 205, 0);
    border:1px solid rgb(165, 42, 42);
    padding: 20px;
    font-size: 1.5em;
    color:rgb(165, 42, 42);
    text-align: center;
    box-shadow: 1px 1px 4px rgb(0, 0, 0);



  }
  .content{
      background-color: rgb(255, 255, 255);
      color: brown;
  }
  
  